.NavBar{
    display: flex;
    
    justify-content: space-around;
    background-color: skyblue;

    padding: 20px;
    font-size: 40px;
    
}
.artGenre{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}
.arts{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.art-image{
    width: 300px;
    height: auto;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}